* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', cursive;
	font-size:22px;
}
li{
	list-style:none;
}
html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 24%, #CCE);
	background-size: cover;
}
#container{
	width:80%;
	height:auto;
	margin:4px auto;
}
#calculadora{
	width: 320px;
	height: 310px;
	padding:2px;
	background-color: #06010b;
	border:10px solid black;
}
.input-valor{
	margin:8px auto;
	width:95%;
	height:30px;
	font-size: 16px;
	overflow:hidden;
	text-align: right;
	color:hsl(0, 27%, 6%);
	padding: 4px;
	background-color:#fff;
	box-shadow: inset -1px -1px 4px 1px hsl(160, 17%, 7%);
}
.key li{
	width:65px;
	height:35px;
	border-radius:3px;
	color:#141212;
	background-color:hsl(157, 93%, 47%);
	cursor:pointer;
	float:left;
	margin: 0px -3px 5px 8px;
	line-height: 30px;
	text-align: center;
	box-shadow: 0px 3px 1px 0px #444651;
}
.key li:hover{
	background-color: #121414;
	color: #6C73FA;
	transition:0.2s;
}

.key li:active{
	box-shadow: 0px 1px 1px 0px #444651;
}
.verificar{
	width: 93.4% !important;
}
#limpar{
	font-size: 40px;
}